<section class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-3-4@m uk-width-1-1@s">
        <h1 class="uk-text-white"> <%= @content.title %> </h1>
        <div class="uk-text-white">
          <% if @content.video_id %>
            <div style="position:relative;padding-top:56.25%;"><iframe src="<%= @content.video_id.gsub('play', 'embed') %>?autoplay=false&loop=false&muted=false&preload=false&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>
          <% end %>
        </div>
        <div class="uk-margin-large-top">
          <%= @content.body %>
        </div>
      </div>
      <div class="uk-width-1-4@m uk-width-1-1@s sidebar">
        <div class="uk-card uk-card-secondary uk-card-body">
          <ul class="uk-nav uk-nav-secondary uk-list uk-list-decimal">
            <% @sidebar_contents.each do |content| %>
              <li>
                 <%= link_to discipline_content_path(discipline_slug: @content.discipline.slug, content_slug: content.slug) do %>
                  <%= content.title %>
                 <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= render 'layouts/supplies', { discipline: @content.discipline } %>
  </div>
</section>
