<section class="uk-section">
  <div class="uk-container">
    <h1 class="uk-text-white"> <%= @content.title %> </h1>
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-3-4@m uk-width-1-1@s uk-margin-large-top ">
        <% if @content.video? %>
          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;" class="uk-text-white">
            <%= sanitize(@content.body.to_plain_text, tags: %w[div iframe], attributes: %w[src frameborder allow allowfullscreen]) %>
          </div>
        <% else %>
          <p class="uk-text-white">
            <%= sanitize(@content.body) %>
          </p>
        <% end %>
      </div>
      <div class="uk-width-1-4@m uk-width-1-1@s">
        <div class="uk-card uk-card-secondary uk-card-body">
          <ul class="uk-nav uk-nav-secondary uk-list uk-list-decimal">
            <% @sidebar_contents.each do |content| %>
              <li>
                 <%= link_to discipline_content_path(discipline_slug: @content.discipline.slug, content_slug: content.slug) do %>
                  <%= content.title %>
                 <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= render 'layouts/supplies', { discipline: @content.discipline } %>
  </div>
</section>
