<div class="content-area">
  <!-- Efeito de partículas de fundo -->
  <div id="particles-js" class="particles-fullscreen"></div>

  <h1 class="uk-text-white" data-aos="fade-up">
    <%= @discipline&.title || @content&.title %>
  </h1>

  <div class="content-layout">
    <!-- Seção do vídeo -->
    <div class="video-section" data-aos="fade-up" data-aos-delay="100">
      <div class="video-container">
        <div class="uk-text-white">
          <% if resource.body.to_s.include?('iframe')  %>
            <div style="position:relative;padding-top:56.25%;">
              <p>
                <%= raw resource.body.to_plain_text %>
              </p>
            </div>
          <% else %>
            <p>
              <%= resource.body.to_s %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="uk-margin-medium-top">
        <h2 class="uk-text-white">Sobre o módulo</h2>
        <p class="uk-text-default-color">
          <%= @discipline&.abstract || @content.discipline.abstract %>
        </p>

        <%= render 'layouts/supplies', {
          discipline: resource.respond_to?(:discipline) ? resource.discipline : resource
        } %>
      </div>
    </div>

    <!-- Seção de conteúdo do curso -->
    <div class="content-section" data-aos="fade-up" data-aos-delay="200">
      <h3 class="uk-text-white">Aulas</h3>

      <% contents.each do |content| %>
        <div class="topic-item <%= 'completed' if content.id == resource.id && resource.respond_to?(:video_id) %>" id="<% dom_id content %>" >
          <div class="topic-status <%= 'completed' if content.id == resource.id && resource.respond_to?(:video_id) %>" id="<% dom_id content %>" >
            <span uk-icon="icon: play; ratio: 0.8"></span>
          </div>
          <div class="topic-details">
          <%= link_to content.title,
              discipline_content_path(
                discipline_slug: content.discipline.slug,
                content_slug: content.slug
              ),
              class: 'uk-text-white ' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
