<div class="content-area">
  <!-- Efeito de partículas de fundo -->
  <div id="particles-js" class="particles-fullscreen"></div>

  <h1 class="uk-text-white" data-aos="fade-up">
    <%= @discipline&.title || @content&.title %>
  </h1>

  <div class="content-layout">
    <!-- Seção do vídeo -->
    <div class="video-section" data-aos="fade-up" data-aos-delay="100">
      <div class="video-container">
        <% if resource.respond_to?(:video_id ) && resource.video_id.present? %>
          <div class="uk-text-white">
            <div style="position:relative;padding-top:56.25%;">
              <iframe src="<%= resource.video_id.gsub('play', 'embed') %>?autoplay=false&loop=false&muted=false&preload=false&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
            </div>

            <!-- text body -->
            <div class="uk-margin-medium uk-padding-medium">
              <p>
                <%= resource.body %>
              </p>
            </div>

          </div>
        <% else %>
          <div class="uk-text-white">
            <%= sanitize(resource.body.to_plain_text, tags: %w[div img iframe], attributes: %w[src frameborder allow allowfullscreen]) %>
          </div>
        <% end %>
      </div>

      <div class="uk-margin-medium-top">
        <h2 class="uk-text-white">Sobre o módulo</h2>
        <p class="uk-text-default-color">
          <%= @discipline&.abstract || @content.discipline.abstract %>
        </p>

        <%= render 'layouts/supplies', {
          discipline: resource.respond_to?(:discipline) ? resource.discipline : resource
        } %>
      </div>
    </div>

    <!-- Seção de conteúdo do curso -->
    <div class="content-section" data-aos="fade-up" data-aos-delay="200">
      <h3 class="uk-text-white">Conteúdo do Curso</h3>

      <div class="uk-margin-medium-bottom">
        <div class="uk-flex uk-flex-between uk-flex-middle">
          <span class="text-default-color">Tempo total: 85:15</span>
          <span class="uk-badge badge-success">1/3 concluído</span>
        </div>
      </div>

      <% contents.each do |content| %>
        <div class="topic-item <%= 'completed' if content.id == resource.id && resource.respond_to?(:video_id) %>" id="<% dom_id content %>" >
          <div class="topic-status <%= 'completed' if content.id == resource.id && resource.respond_to?(:video_id) %>" id="<% dom_id content %>" >
            <span uk-icon="icon: play; ratio: 0.8"></span>
          </div>
          <div class="topic-details">
          <%= link_to content.title,
              discipline_content_path(
                discipline_slug: content.discipline.slug,
                content_slug: content.slug
              ),
              class: 'uk-text-white ' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
