<% content_for :background_image do %>
  <% unless current_user.present? %>
    <style>
      .uk-background-cover {
        background-image: url(<%= image_path('bg5.jpg') %>);
      }
    </style>
  <% end %>
  <% if current_user.present? %>
    <style>
      .uk-section-default {
        background: none !important;
      }
    </style>
  <% end %>
<% end %>

<div class="uk-section uk-light uk-background-cover uk-height-viewport">
  <div class="uk-container uk-container-small">
    <div class="uk-width-1-1@s uk-margin-large-bottom uk-text-center" uk-grid></div>
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <div class="uk-card uk-card-secondary uk-card-body">
      <%= form_with url: passwords_path do |form| %>
        <div class="uk-margin">
          <%= form.label :email_address, 'E-mail', class: "uk-form-label"%>
          <div class="uk-form-controls">
            <%= form.email_field :email_address, required: true, autofocus: true, placeholder: "Insira seu e-mail aqui", value: params[:email_address], class: 'uk-input' %><br>
          </div>
        </div>
        <div class="uk-margin">
          <%= form.submit "Recuperar", class: 'uk-button uk-button-primary uk-width-1-1' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
