<%= form_with model: @discipline, url: route_path, data: { turbo: false }, remote: false do | form | %>
  <div class="uk-margin">
    <%= form.label :title, class:"uk-form-label" %>
    <%= form.text_field :title, class:"uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :abstract, class:"uk-form-label" %>
    <%= form.text_field :abstract, class:"uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :body, class:"uk-form-label" %>
    <%= form.textarea :body, class:"uk-textarea" %>
  </div>

  <div class="uk-margin">
    <%= form.label :position, class:"uk-form-label" %>
    <%= form.number_field :position, class:"uk-input" %>
  </div>

  <div class="uk-margin">
    <%= form.label :available_on, class:"uk-form-label" %>
    <%= form.datetime_local_field :available_on, class:"uk-input" %>
  </div>

  <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
    <div>
      <%= form.label :team_ids, 'Turmas', class:"uk-form-label" %>
      <%= form.collection_check_boxes(:team_ids, @teams, :id, :name, {}, { class: 'uk-checkbox' }) do |b| %>
        <label>
          <%= b.check_box %>
          <%= b.text %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="uk-margin uk-text-right">
    <%= form.submit class: 'uk-button uk-button-default'  %>
  </div>
<% end %>
