<%= form_with model: @discipline, url: route_path, class: 'uk-form-horizontal', enctype: "multipart/form-data", data: { turbo: false } do | form | %>
  <div class="uk-margin">
    <%= form.label :title, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.text_field :title, class:"uk-input" %>
      <small class="uk-text-danger">
        <%= @discipline&.errors.full_messages_for(:title).join.capitalize %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :abstract, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.rich_textarea :abstract, class:"uk-input" %>
      <small class="uk-text-danger">
        <%= @discipline&.errors.full_messages_for(:abstract).join.capitalize %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :body, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.rich_textarea :body, class:"uk-textarea" %>
      <small class="uk-text-danger">
        <%= @discipline&.errors.full_messages_for(:body).join.capitalize %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :position, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.number_field :position, class:"uk-input" %>
      <small class="uk-text-danger">
        <%= @discipline&.errors.full_messages_for(:position).join.capitalize %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :available_on, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.datetime_local_field :available_on, class:"uk-input" %>
      <small class="uk-text-danger">
        <%= @discipline&.errors.full_messages_for(:available_on).join.capitalize %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :team_ids, 'Turmas', class:"uk-form-label" %>
     <div class="uk-form-controls uk-form-controls-text">
      <%= form.collection_check_boxes(:team_ids, @teams, :id, :name, {}, { class: 'uk-checkbox' }) do |b| %>
        <label>
          <%= b.check_box %>
          <%= b.text %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="uk-margin uk-text-right">
    <%= form.submit class: 'uk-button uk-button-default'  %>
  </div>
<% end %>
