<div class="uk-section">
  <div class="uk-container">
    <div class="uk-margin uk-text-right">
      <%= link_to 'Adicionar', new_admin_discipline_path, class: 'uk-button uk-button-primary' %>
    </div>

    <% flash.each do |_, notification| %>
      <div class="uk-margin-top">
        <div class="uk-alert uk-alert-success uk-text-center">
          <%= notification %>
        </div>
      </div>
    <% end %>

    <div class="uk-card uk-card-secondary uk-card-body">
      <table class="uk-table uk-table-middle uk-table-divider" id="disciplines">
        <thead>
          <tr>
            <th class="uk-width-small">Título</th>
            <th>Turmas vinculadas</th>
            <th>Total de alunos cadastrados</th>
            <th>Disponibilizado em</th>
          </tr>
        </thead>
        <tbody>
          <% @disciplines.each do |discipline| %>
            <tr class="discipline">
              <th class="uk-width-small">
                <%= discipline.title %>
              </th>
              <th class="uk-width-small">
                <% discipline.teams.each do |team| %>
                  <span class="uk-label">
                    <%= team.name %>
                  </span>
                <% end %>
              </th>
              <th class="uk-width-small">
                <%= discipline.users.count %>
              </th>
              <th class="uk-width-small">
                <%= I18n.l(discipline.available_on, format: :short) %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
