<%= form_with model: @content, url: route_path, class: 'uk-form-horizontal', data: { turbo: false } do | form | %>
  <div class="uk-margin">
    <%= form.label :title, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.text_field :title, class:"uk-input" %>
      <small class="uk-text-danger">
        <%= @content&.errors.full_messages_for(:title).join %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :body, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.textarea :body, class:"uk-textarea" %>
      <small class="uk-text-danger">
        <%= @content&.errors.full_messages_for(:body).join %>
      </small>
    </div>
  </div>

  <div class="uk-margin">
    <%= form.label :kind, class:"uk-form-label" %>
    <div class="uk-form-controls" >
      <%= form.select :kind, Content.kinds_translated, {}, { class:"uk-select" } %>
    </div>
  </div>

  <div class="uk-margin uk-text-right">
    <%= form.submit class: 'uk-button uk-button-default'  %>
  </div>
<% end %>
