<div class="uk-section">
  <div class="uk-container">
    <% flash.each do |_, notification| %>
      <div class="uk-margin-top">
        <div class="uk-alert uk-alert-warning uk-text-center">
          <%= notification %>
        </div>
      </div>
    <% end %>
    <div class="uk-margin">
      <%= form_with url: :search_admin_users, method: :get, data: { turbo: false } do |form| %>
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <%= form.text_field :q, class: "uk-input", value: @q, placeholder: 'Buscar' %>
          </div>
          <div class="uk-width-auto uk-text-right">
            <%= form.submit 'manda vê', class: 'uk-button uk-button-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="uk-card uk-card-secondary uk-card-body">
      <table class="uk-table uk-table-middle uk-table-divider" id="users">
        <thead>
          <tr>
              <th class="uk-width-small">Nome completo</th>
              <th>E-mail</th>
              <th>Data de criação</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="user">
              <th class="uk-width-small">
                <%= user.profile.fullname %>
              </th>
              <th>
                <%= user.email %>
              </th>
              <th>
                <%= I18n.l(user.created_at, format: :short) %>
              </th>
              <th>
                <% if user.disabled_at.present? %>
                  <span class="uk-label uk-label-danger">Usuário bloqueado</span>
                <% else %>
                  <%= link_to 'Bloquear', block_admin_user_path(user), data: {turbo: false},
                              class: 'uk-button uk-button-default' %>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
