<section class="uk-section uk-padding-remove-top">
  <div class="uk-container">
    <div class="uk-card uk-card-primary uk-card-body uk-text-center uk-margin-top">
      <div class="uk-flex uk-flex-center uk-margin-bottom">
        <img src="<%= @profile.avatar %>" class="uk-border-circle" alt="Judith Rice" width="150" height="150">
      </div>
      <h2 class="uk-heading-line">
        <span><%= @profile.fullname %></span>
      </h2>
      <p class="uk-text-lead">E-mail:
        <span class="uk-text-white">
          <%= current_user.email_address %>
        </span>
      </p>
      <p class="uk-text-lead">Matricula:
        <span class="uk-text-white">
          <%= current_user.registration_code %>
        </span>
      </p>
      <p class="uk-text-lead">Idade:
        <span class="uk-text-white">
          <%= @profile.age %> anos
        </span>
      </p>
      <p class="uk-text-lead">Escola matriculada:
        <span class="uk-text-white">
          <%= current_user.school.name %>
        </span>
      </p>
      <p class="uk-text-lead">Turma:
        <span class="uk-text-white">
          <%= Profile.human_enum_name(:degree, @profile.degree) %>
        </span>
      </p>
    </div>
  </div>
</section>
