<nav class="uk-navbar-container uk-navbar-transparent">
  <div class="uk-container uk-container-expand">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/" aria-label="Volte para Página inicial">
          <%= image_tag 'logo.png' %>
          <h3 class="uk-text-white uk-margin-remove uk-padding-small">Spacedevs</h3>
        </a>
      </div>

      <div class="uk-navbar-right">
        <a class="uk-navbar-item" href="#" aria-label="Perfil">
           <img src="<%= current_user&.profile&.avatar %>" class="avatar" alt="<%= current_user.profile.fullname %>">
        </a>
        <ul class="uk-navbar-nav">
          <li>
            <a href="#"><%= current_user.profile.fullname %> <span uk-icon="icon: chevron-down; ratio: 0.7"></span></a>
            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-right">
              <ul class="uk-nav uk-navbar-dropdown-nav uk-text-white">
                <li>
                  <%= link_to profile_path, class: 'uk-text-secondary' do %>
                    <span uk-icon="icon: user"></span> Meu perfil
                  <% end %>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to session_path, data: { turbo_method: :delete } do %>
                    <span uk-icon="icon: sign-out"></span> Sair
                  <% end %>
              </ul>
            </div>
          </li>
          <% if current_user.admin? %>
            <li>
              <a href="#" class='uk-text-white'>Admin</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li>
                    <%= link_to 'Alunos', admin_users_path, class: 'uk-text-secondary' %>
                    <%= link_to 'Disciplinas', admin_disciplines_path, class: 'uk-text-secondary' %>
                    <%= link_to 'Turmas', admin_teams_path, class: 'uk-text-secondary' %>
                    <%= link_to 'Recursos', admin_resources_path, class: 'uk-text-secondary' %>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
