<nav class="uk-navbar-container uk-navbar-transparent">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/" aria-label="Volte para Página inicial">
          <%= image_tag 'logo.png', alt: 'Spacedevs logo marca que aparente um buraco negro dentro de um universo' %>
        </a>

        <ul class="uk-navbar-nav">
          <li><a href="<%= ENV.fetch('COMMUNITY_URL', 'https://spacedevs.com.br') %>">Comunidade</a></li>
        </ul>

      </div>

      <div class="uk-navbar-right" id="profile">
        <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">
          <img src="<%= current_user&.profile&.avatar %>" class="avatar" alt="<%= current_user&.profile&.fullname %>">
        </a>
        <ul class="uk-navbar-nav">
          <li>
            <a href="#"><%= current_user&.profile&.fullname.presence || 'Sem nome' %></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav uk-text-white">
                <li>
                  <%= link_to 'Meu perfil', profile_path(current_user&.profile&.slug) %>
                </li>
                <li class="uk-active"><a href="/settings/edit/settings.html">Configurações</a></li>
                <li>
                  <%= link_to 'Sair', session_path, data: { turbo_method: :delete } %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
